{% if quests is not empty %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for quest in quests %}
            <div class="col">
                <div class="card shadow-sm h-100">
                    <img src="{{ quest.picture }}" alt="Nouvelle quête">

                    <div class="card-body">
                        <h3>{{ quest.title }}</h3>
                        <p class="card-text">
                            {% if quest.description|length > 20 %}
                                {{ quest.description|slice(0, 50) }}...
                            {% else %}
                                {{ quest.description }}
                            {% endif %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-primary" href="{{ path("quest_one", {id: quest.id}) }}">Voir les détails</a>
                            </div>
                            <small class="text-muted">{{ quest.participants.count }} / {{ quest.maxPeopleNumber }} participant{{ quest.participants.count == 1 ? '.e' : '.e.s' }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Aucune quête trouvée.</p>
{% endif %}