{% block header %}

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">A propos</h4>
                        <p class="text-muted">
                            Here#O est né d'un projet de fin de formation avec l'ambition de créer quelque chose d'utile qui ne s'arrêterait pas au prototype mais pouvant être mis en ligne et utilisé par un maximum de personnes.
                        </p>
                        <p><a href="#" class="text-white">Plus d'infos sur l'équipe</a></p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Suivez-nous sur Facebook</a></li>
                            <li><a href="mailto:email@email.com" class="text-white">Envoyez-nous un email</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="{{ path("index") }}" class="navbar-brand d-flex align-items-center">
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                        <circle cx="12" cy="13" r="4"/>
                    </svg>-->

                    <!--<h1><i class="fas fa-hand-holding-heart"></i> Her#O</h1>-->
                    <h1><i class="fas fa-hands-helping"></i> Here#O</h1>
                </a>
                <ul class="navbar-nav ms-auto px-4 flex-row">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item px-2">
                            <a href="{{ path("user_profile") }}" title="Accéder à mon compte"><i class="fas fa-user"></i></a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="{{ path("app_logout") }}" title="Me déconnecter"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item px-2">
                            <a href="{{ path("app_login") }}" title="Se connecter"><i class="fas fa-user"></i></a>
                        </li>
                        <li class="nav-item px-2">
                            <a href="{{ path("app_register") }}" title="Créer un compte"><i class="fas fa-user-plus"></i></a>
                        </li>
                    {% endif %}
                </ul>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

{% endblock %}